@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
    position: absolute;
    right: 50%;
    top: 50%;
}

.loader span {
    display: inline-block;
    color: red;
    font-size: 4rem;
}



@import "header.css";
#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}
